<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
<!--
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
-->

</head>
<body>
<div class="wrapper" style="text-align:center">
  <div class="title" style="text-align:center">Hello {{ loggedInUser.firstName }}</div>
  <form [formGroup]="homeForm">
    <div class="row" style="margin-top: 19px">
      <div class="col-sm-12 form-group required">
        <div class="title1">Your balance is:<br> {{ loggedInUser.balance }} DH</div>

      </div>
    </div>
    <div class="field" style="margin-top:35px" (click)="scanCodeQr()">
      <input type="submit" value="PAY " [disabled]="isBalanceNull">
    </div>
    <div *ngIf="error"  class="error-messages text-danger">
      {{error}}
    </div>
    <div class="container" *ngIf="isButtonClicked">
      <div class="camera-container">
        <zxing-scanner #scanner
                       [formats]="[BarcodeFormat.QR_CODE]"
                       (scanSuccess)="handleScanSuccess($event)">
        </zxing-scanner>
      </div>
    </div>

  </form>
<!--
<div class="footerContainer fixed-bottom" style="margin-top: 90px">
-->
<div class="footerContainer" style="margin-top: 90px">
  <div class="footerNav">
    <ul *ngIf="loggedInUser.typeUser=='customer'">
      <li><a style="color: #4158d0" href="home">Home</a></li>
      <li><a style="color: #000000" href="transactions">Transactions</a></li>
      <li><a style="color: #000000" href="profilUser">Profil</a></li>
    </ul>
  </div>

</div>
</div>
